@mixin google-fonts($font, $weights...) {
    @if str-index($font, " ") != null {
      $font: str-replace($font, ' ', '+')
    }

    $query: '';
    @each $wght in $weights {
        $query: '#{append($query, "#{$wght};")}';
    }
    $query: str-replace($query, ' ');
    $query: str-slice($query, 1, -2);
    @warn $query;
    @import url('https://fonts.googleapis.com/css2?family=#{$font}:wght@#{$query}&display=swap');
}

// Replace `$search` with `$replace` in `$string`
// @author Kitty Giraudel
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


@mixin scrollbar($trackClr, $thumbClr) {
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: $thumbClr $trackClr;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: $trackClr;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $thumbClr;
    border-radius: 10px;
    border: 4px solid $trackClr;
  }
}