@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 255, 255, 0.5) #0D0D0D;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #0D0D0D;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 4px solid #0D0D0D;
}

::-moz-selection {
  background-color: rgba(64, 60, 255, 0.5);
  color: #fff;
}

::selection {
  background-color: rgba(64, 60, 255, 0.5);
  color: #fff;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

body {
  background-color: #0D0D0D;
  color: #fff;
}

.wrapper {
  position: relative;
  overflow-x: clip;
}
@supports not (overflow-x: clip) {
  .wrapper {
    overflow-x: hidden;
  }
}

.blurry-balls span {
  position: absolute;
  inset: 0 0 auto 0;
  margin-inline: auto;
  display: inline-block;
  width: max(100vw, 10rem);
  height: max(60vh, 10rem);
  aspect-ratio: 12/9;
  border-radius: 100%;
  z-index: -1;
}

.blurry-balls span:nth-child(1) {
  background-color: #332FD0;
}

.blurry-balls span:nth-child(2) {
  background-color: #4900D4;
}

.blurry-balls span:nth-child(3) {
  background-color: #63006C;
}

.modal--score, .list .anime-cell--score {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #FFC700;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tag {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: rgba(13, 13, 13, 0.5);
  border: solid 0.05rem rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
}
.tag > span {
  color: rgba(255, 255, 255, 0.6);
}
.tag > span::after {
  content: ":";
}
.tag > button {
  margin-left: 0.5rem;
  display: flex;
  background-color: transparent;
  cursor: pointer;
}

.container {
  display: grid;
  place-content: center;
  padding-block: 10vh;
  padding-inline: max(20vw, 2rem);
  min-height: 100vh;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  padding-block: 5vh;
  margin-inline: max(15vw, 2rem);
  border-top: solid 0.05rem rgba(255, 255, 255, 0.2);
}
.footer p {
  font-size: clamp(1rem, 0.8806451613rem + 0.5161290323vw, 1.5rem);
  color: #E9E9E9;
}
.footer .social {
  display: flex;
  gap: 2rem;
}
.footer .social img {
  width: 3rem;
}
@media screen and (max-width: 486px) {
  .footer {
    justify-content: center;
  }
  .footer p {
    text-align: center;
  }
}

.hero {
  position: relative;
  text-align: center;
  color: #E9E9E9;
  background-color: rgba(13, 13, 13, 0.44);
  backdrop-filter: blur(15rem);
  -webkit-backdrop-filter: blur(15rem);
  background-image: url(images/oooscillate.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.hero--title {
  margin-bottom: 4rem;
  font-family: "ZCOOL XiaoWei", serif;
  font-size: clamp(4rem, 2.4210526316rem + 6.3157894737vw, 10rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}
.hero--description {
  font-size: clamp(1rem, 0.6052631579rem + 1.5789473684vw, 2.5rem);
  font-weight: 400;
}
.hero > #scroll-down {
  position: absolute;
  inset: auto 0 4rem 0;
  margin-inline: auto;
  width: clamp(2rem, 8vw, 5rem);
  height: 6rem;
}

.list {
  align-content: flex-start;
  padding-bottom: 15vh;
}
.list .search-bar {
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
  padding: 2rem 0;
  padding-inline: clamp(7rem, 20vw, 45rem);
  width: 100vw;
  background-color: rgba(13, 13, 13, 0.91);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 570px) {
  .list .search-bar {
    padding-inline: 2rem;
  }
}
.list .search-bar form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.list .search-bar ::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  border: none;
}
.list .search-bar input, .list .search-bar ::placeholder, .list .search-bar button {
  font-family: "Montserrat", sans-serif;
  border: none;
}
.list .search-bar--button {
  position: relative;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  height: 6.3rem;
  background-color: #403CFF;
  border-radius: 100vmax;
  cursor: pointer;
  isolation: isolate;
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}
.list .search-bar--button:active {
  transform: scale(0.9);
}
.list .search-bar--button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(-100%) skewX(-10deg);
  z-index: -1;
  animation: shine 2400ms linear infinite;
}
@keyframes shine {
  20%, 100% {
    transform: translateX(400%) skewX(-10deg);
  }
}
@media screen and (max-width: 1006px) {
  .list .search-bar--button {
    width: max(100%, 50rem);
  }
  .list .search-bar--button::after {
    width: 5rem;
  }
  @keyframes shine {
    20%, 100% {
      transform: translateX(65vw) skewX(-10deg);
    }
  }
}
@media screen and (max-width: 838px) {
  @keyframes shine {
    20%, 100% {
      transform: translateX(70vw) skewX(-10deg);
    }
  }
}
@media screen and (max-width: 720px) {
  .list .search-bar--button::after {
    animation-duration: 3000ms;
  }
  @keyframes shine {
    20%, 100% {
      transform: translateX(100vw) skewX(-10deg);
    }
  }
}
.list .search-bar--input {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 1rem;
  padding: 1rem 3rem;
  width: max(60%, 50rem);
  border: 2px solid #403CFF;
  border-radius: 1rem;
  box-shadow: 0 0 0 0 #403CFF;
  transition: box-shadow 200ms ease-in-out;
}
.list .search-bar--input:focus-within {
  box-shadow: 0 0 0 4px #403CFF;
}
.list .search-bar--input input {
  flex: 1;
  padding-block: 1rem;
  width: 100%;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  caret-color: #403CFF;
  text-overflow: ellipsis;
}
.list .search-bar--input input[type=number]::-webkit-inner-spin-button,
.list .search-bar--input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.list .search-bar--input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.list .search-bar--input ::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 455px) {
  .list .search-bar--input {
    width: 100%;
  }
}
.list .search-bar--input span {
  font-size: 1.5rem;
  font-weight: 500;
}
.list .search-bar--input span::after {
  content: ":";
}
.list .search-bar--input button {
  display: flex;
  background-color: transparent;
  box-shadow: 0 0 0 10px transparent;
  border-radius: 100vmax;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out;
}
.list .search-bar--input button:hover {
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.06);
}
.list .search-bar--expandable {
  overflow: hidden;
}
.list .search-bar--bookmarks {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.list .search-bar--bookmarks > button {
  padding: 2rem 3.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  color: #E9E9E9;
  background-color: transparent;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}
.list .search-bar--bookmarks > button:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
@media screen and (max-width: 937px) {
  .list .search-bar--bookmarks > button {
    flex: 1;
    justify-content: center;
  }
  .list .search-bar--bookmarks > button > span {
    display: none;
  }
}
.list .search-bar--tags {
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: solid 0.05rem rgba(255, 255, 255, 0.2);
}
.list .list-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-block: 10rem 0;
  margin-inline: auto;
  width: min(75vw, 100vw - 4rem);
}
.list .list-view #loading, .list .list-view #not-found {
  margin-inline: auto;
  width: clamp(12rem, 70%, 50rem);
}
.list .list-view #not-found {
  width: clamp(9rem, 55%, 35rem);
}
.list .list-view img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.list .anime-shadow {
  position: absolute;
  inset: 0;
  margin-inline: auto;
  width: 50%;
  height: 90%;
  border-radius: 2rem;
  filter: blur(3rem);
  z-index: -1;
}
.list .anime-cell {
  position: relative;
  width: 18rem;
  transition: transform 400ms ease-in-out;
}
@media (hover: hover) {
  .list .anime-cell:hover {
    transform: scale(1.2);
  }
}
.list .anime-cell--image {
  width: 18rem;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  cursor: pointer;
}
.list .anime-cell--score {
  position: absolute;
  inset: 2rem auto auto -2rem;
}
.list .anime-cell--title {
  margin-top: 1rem;
  margin-inline: -1rem;
  padding-inline: 1rem;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(90deg, transparent 0%, rgb(0, 0, 0) 15%, rgb(0, 0, 0) 85%, transparent 100%);
}
.list .anime-cell--text {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform 1000ms ease-in-out;
}

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal {
  display: flex;
  gap: 3.2rem;
  width: min(70%, 100rem);
  height: max(50%, 40rem);
  background: linear-gradient(142deg, rgba(13, 13, 13, 0.8) 50%, rgba(64, 60, 255, 0.4) 100%);
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
  border-radius: 1.7rem;
  overflow: hidden;
}
.modal--image {
  width: 30%;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal button {
  position: absolute;
  inset: 3rem 3rem auto auto;
  background: none;
  border: none;
  cursor: pointer;
}
.modal button > img {
  width: 4rem;
}
.modal--content {
  position: relative;
  padding: 3rem;
  padding-left: 0;
  height: 100%;
}
.modal--stats {
  margin-right: 6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}
.modal--title {
  font-size: clamp(2rem, 1.7612903226rem + 1.0322580645vw, 3rem);
  font-weight: 600;
}
.modal--score {
  width: -moz-fit-content;
  width: fit-content;
}
.modal--desc {
  display: inline-block;
  margin-block: 1rem 3rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #E9E9E9;
}
.modal p {
  padding-right: 1.2rem;
  height: 12.5rem;
  font-size: 1.7rem;
  line-height: 2.5rem;
  color: #E9E9E9;
  overscroll-behavior-y: contain;
  overflow: hidden auto;
}
.modal--tags {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.modal--link {
  position: absolute;
  inset: auto auto 3rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
}
.modal--link div {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.modal--link div span {
  display: inline-block;
  transition: transform 300ms cubic-bezier(0.67, 0, 0.32, 1);
}
.modal--link div::after, .modal--link div::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  transition: transform 300ms cubic-bezier(0.67, 0, 0.32, 1);
}
.modal--link div::after {
  content: attr(data-text);
  transform: translate3d(120%, 0, 0);
}
.modal--link div::before {
  bottom: 0.1rem;
  height: 0.02rem;
  background-color: #fff;
  transform-origin: right;
  transform: scaleX(0);
}
@media (hover: hover) {
  .modal--link:hover div span {
    transform: translate3d(-120%, 0, 0);
  }
  .modal--link:hover div::after {
    transform: translate3d(0, 0, 0);
  }
  .modal--link:hover div::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
@media screen and (max-width: 1240px) {
  .modal {
    flex-direction: column;
    width: max(50%, 40rem);
    height: max(50%, 80rem);
  }
  .modal--image {
    width: 100%;
    height: 40%;
    -o-object-position: center top;
       object-position: center top;
  }
  .modal--content {
    padding: 3rem;
    padding-top: 0;
  }
  .modal--stats {
    margin-right: 0;
  }
  .modal--link {
    left: 3rem;
  }
  .modal button > img {
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@media screen and (max-height: 800px) and (max-width: 1240px) {
  .modal {
    height: 100vh;
  }
  .modal--image {
    height: 30%;
  }
}
@media screen and (max-height: 700px) {
  .modal--tags {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}/*# sourceMappingURL=main.css.map */