@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/colors';

@include google-fonts('Montserrat',400,500,600,700,800,900);
@include google-fonts('ZCOOL XiaoWei',400);
@include google-fonts('Work Sans',700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  font-family: $montserrat;
  font-size: 10px;
}

body {
  background-color: $color-darkgray;
  color: $color-white;
  overflow-x: hidden;
}


%ball {
  position: absolute;
  inset: 0 0 auto 0;
  margin-inline: auto;
  display: inline-block;
  height: max(60vh, 10rem);
  aspect-ratio: 12 / 9;
  border-radius: 100%;
  z-index: -1;
}
@each $key, $color in $blurry {
  %ball:nth-child(#{$key}) {
    background-color: $color;
  }
}
.blurry-balls {
  span {
    @extend %ball;
  }
}

.container {
  display: grid;
  place-content: center;
  padding-block: 10vh;
  padding-inline: max(20vw, 2rem);
  min-height: 100vh;
}

// Hero Section
.hero {
  text-align: center;
  color: $color-gray;
  background-color: rgba($color-darkgray, .44);
  backdrop-filter: blur(15rem);
  -webkit-backdrop-filter: blur(15rem);
  
  background-image: url(images/oooscillate.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
  &--title {
    margin-bottom: 4rem;
    font-family: $zcool;
    // font-size: 10rem;
    font-size: clamp(4rem, 2.4210526315789473rem + 6.315789473684211vw, 10rem);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 0 3rem rgba($color-black, .5);
  }
  
  &--description {
    // font-size: 2.5rem;
    font-size: clamp(1rem, 0.6052631578947368rem + 1.5789473684210527vw, 2.5rem);
    font-weight: 400;
  }

  > #scroll-down {
    position: absolute;
    inset: auto 0 4rem 0;
    margin-inline: auto;
    width: 5rem;
    height: 6rem;  
  }
}

//List Section
.list {
  align-content: start;

  .search-bar {
    position: sticky;
    top: 0;
    padding: 2rem 0;
    width: min(70vw, 100vw - 4rem);
    background-color: rgba($color-darkgray, .9);
    backdrop-filter: blur(.2rem);
    -webkit-backdrop-filter: blur(.2rem);
    z-index: 100;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
    }
    input, ::placeholder, button {
      font-family: $montserrat;
      border: none;
    }
    button {
      position: relative;
      padding: 1.5rem 3rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $color-white;
      height: 6.3rem;
      background-color: $color-purple;
      border-radius: 100vmax;
      cursor: pointer;
      isolation: isolate;
      overflow: hidden;
      transition: transform $transition-speed ease-in-out;

      &:active {
        transform: scale(.9);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 100%;
        background-color: rgba($color-black, .2);
        transform: translateX(-100%) skewX(-10deg);
        z-index: -1;
        animation: shine $transition-speed*12 linear infinite;

      }
      
      @keyframes shine {
        20%,100% {
          transform: translateX(400%) skewX(-10deg);
        }
      }
      
      @media screen and (max-width: 1006px) {
        & {
          width: max(60%, 50rem);
        }
        &::after {
          width: 5rem;
        }
        @keyframes shine {
          20%,100% {
            transform: translateX(60vw) skewX(-10deg);
          }
        }
      }
      @media screen and (max-width: 838px) {
        & {
          $width: max(60%, 50rem);
          width: $width;
        }
        @keyframes shine {
          20%,100% {
            transform: translateX(70vw) skewX(-10deg);
          }
        }
      }
    }

    &--input {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 3rem;
      width: max(60%, 50rem);
      border: 2px solid $color-purple;
      border-radius: 1rem;
      box-shadow: 0 0 0 0 $color-purple;
      transition: box-shadow $transition-speed ease-in-out;

      &:focus-within {
        box-shadow: 0 0 0 4px $color-purple;
      }

      input {
        flex: 1;
        padding-block: 1rem;
        font-size: 1.5rem;
        color: rgba($color-white, .8);
        background: transparent;
        caret-color: $color-purple;
      }
      ::placeholder {
        color: rgba($color-white, .8);
      }
    }
  }


  .list-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-block: 10rem 0;

    #loading {
      margin-inline: auto;
      width: max(80%, 20rem);
    }
  }

  .anime-shadow {
    position: absolute;
    inset: 0;
    margin-inline: auto;
    width: 50%;
    height: 90%;
    border-radius: 2rem;
    filter: blur(3rem);
    z-index: -1;
  }
  .anime-cell {
    $width: 18rem;
    position: relative;
    width: $width;
    transition: transform $transition-speed*2 ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    &--image {
      width: $width;
      aspect-ratio: 2 / 3;
      object-fit: cover;
      border-radius: 2rem;
      cursor: pointer;
    }
    &--score {
      position: absolute;
      inset: 2rem auto auto -2rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: .5rem;
      font-family: $work-sans;
      font-size: 2rem;
      color: $color-yellow;
      border-radius: 1.5rem;
      background-color: rgba($color-black, .4);
      backdrop-filter: blur(.2rem);
      -webkit-backdrop-filter: blur(.2rem);
    }
    &--title {
      margin-top: 1rem;
      margin-inline: -1rem;
      padding-inline: 1rem;
      font-size: 2rem;
      white-space: nowrap;
      overflow: hidden;
      mask-image: linear-gradient(90deg, transparent 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, transparent 100%);
      -webkit-mask-image: linear-gradient(90deg, transparent 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, transparent 100%);
    }
    &--text {
      position: relative;
      width: fit-content;
      transition: right $transition-speed*5 ease-in-out;
    }
  }
}